html, body {
    font-family: "TT Lakes";
    font-size: 16px;
    padding:0;
    margin: 40px 0;
}

.site {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
}

.brands_block {
    background-color: #F8F8F8;
    max-width: 1120px;
    min-width: 300px;
}

.brands_block_header {
    display: flex;
    flex-direction: row;
    min-height: 56px;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 100%);
    text-transform: uppercase;
    padding: 16px 0 16px 32px;
    box-sizing: border-box;
}

.brands_block_text {
    font-size: 16px;
    font-weight: normal;
    padding:0;
    margin:0;
    line-height: 24px;
    height: 24px;
    letter-spacing: -0.2px;
    box-sizing: border-box;
}

.all_brands_logos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 14px 14px 0;
    overflow: hidden;
}

.overflow_hide {
    max-height: 175px;
}

.all_brands_logos > a {
    display: block;
}

.brand_item,
.placeholder_div {
    position: relative;
    display: inline-flex;
    margin: 0 10px 16px;
    height: 72px;
    width: 20%;
    min-width: 215px;
    padding: 5px 20px;
    box-sizing: border-box;
    flex-grow: 1;
}

.brand_logo {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.brand_logo img,
.brand_logo::after {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.brands_block .btn_show_hide {
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    margin-left: 24px;
}

.brand_logo {
    background: url("img/go_arrow.svg") 90% 50% no-repeat;
}

.icon_arrows_down {
    background: url("img/icon_arrows_down.svg") 5% 50% no-repeat;
    padding: 0 32px;
}

.icon_arrows_up {
    background: url("img/icon_arrows_up.svg") 5% 50% no-repeat;
    padding: 0 32px;
}

.textHide,
.textShowall {
    display: none;
}

.show {
    display: block;
}

@media screen and (min-width: 968px) {

}

@media screen and (min-width: 733px) and (max-width: 967px) {
    .placeholder_div:last-child {
        display:none;
    }
}

@media screen and (min-width: 498px) and (max-width: 732px) {
    .placeholder_div:nth-child(2n) {
        display:none;
    }
}

@media screen and (min-width: 370px) and (max-width: 497px) {
    .placeholder_div:nth-of-type(1n) {
        display:none;
    }
}

@media screen and (min-width: 0px) and (max-width: 369px) {
    .placeholder_div:nth-of-type(1n) {
        display:none;
    }
    .brands_block_header {
        min-height: 70px;
    }
}

