body {
    font-family: "TT Lakes";
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    background-color: #F2F2F2;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.service_block {
    min-width: 330px;
    max-width: 1200px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.layout_flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* header block */
.header_block {
    margin-top: 20px;
    justify-content: center;
}

h1 {
    margin:0;
    padding:0 32px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -0.6px;
    white-space: nowrap;
    flex-grow: 1;
    border-left: 3px solid #41F6D7;
}

.icon_repair,
.icon_checkstatus {
    width: 200px;
    padding-right: 60px;
}

.icon_repair {
    background: url("img/repair.svg") 90% 50% no-repeat;
}

.icon_checkstatus {
    background: url("img/checkstatus.svg") 90% 50% no-repeat;
}

/* nav block */
.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 34px;
    padding: 0;
    list-style: none;
    font-size: 16px;
}

.menu li {
    display: inline-flex;
    justify-content: flex-start;
    margin: 0 0 10px -4px;
}

.menu a {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    line-height: 24px;
    padding: 5px 20px;
    color: #7E7E82;
    background-color: transparent;
}

.menu .active a {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFFFFF;
}

.btn {
    border: none;
    cursor: pointer;
    line-height: 24px;
    font-size: 16px;
    height: 40px;
    background-color: transparent;
}

.btn:focus{
    outline: none !important;
}


/* content block */
.content_block {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 10px 34px;
}

.content_block > * {
    flex: 1 1 400px;
}

.image1 {
    max-width: 100%;
}

.text_block {
    margin-right: 30px;
    font-size: 14px;
    line-height: 20px;
    flex-basis: 300px;
}

.icon_readmore {
    background: url("img/readmore.svg") 0 50% no-repeat;
    padding-left: 32px;
}

@media screen and (max-width: 500px) {

    .layout_flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .header_block, .menu {
        justify-content: center;
    }

    h1 {
        text-align: center;
    }

    .icon_repair,
    .icon_checkstatus {
        align-self: center;
        margin-top: 5px;
    }

    .content_block.layout_flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
}
